# Package and Upload a release.zip
# See https://docs.github.com/en/actions/use-cases-and-examples/building-and-testing/building-and-testing-java-with-maven

name: Publish release

on:
  push:
    branches: [ "master" ]
  # Allows you to manually run the workflow (for testing)
  workflow_dispatch:

jobs:
  build:
    name: Build and package xml.aya
    runs-on: ubuntu-latest
    permissions:
      checks: write
      contents: read
    steps:
      - uses: actions/checkout@v4
        with:
          path: main
      - uses: actions/checkout@v4
        with:
          repository: BlazingTwist/aya
          ref: xml-ops
          path: aya
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
      - name: Cache/Restore maven dependencies
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: m2-
      - name: build and install aya
        working-directory: aya
        run: mvn install --batch-mode
      - name: Run install phase
        working-directory: main
        run: mvn install --batch-mode
      - name: Publish the artifact
        uses: actions/upload-artifact@v4
        with:
          name: xml.aya.zip
          path: main/target/xml.aya*.zip